<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width"/>
	</head>
	
	<title> Lista de Convidados</title>
	
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	<form class="form-inline" method="post" style="margin: 20px 0" th:object="${convidado}">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}"/>
			<input type="text" class="form-control" placeholder="Acompanhantes" th:field="*{quantidadeAcompanhantes}"/>
			<button type="submit" class="btn btn-primary">Adicionar</button>
		</div>
	</form>
	<body>
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-tittle">Lista de convidados</h1>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<td> Nome </td>
							<td> Acompanhantes </td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="convidado : ${convidados}">
							<td th:text="${convidado.nome}"></td>
							<td th:text="${convidado.quantidadeAcompanhantes}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>